# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_VALID=
JWT_REFRESH_TOKEN_VALID=

# Frontend
FRONTEND_URL=

# OCR API
OCR_SECRET=
OCR_URL=

# Open Banking OAuth
OB_TOKEN_URI=
OB_REDIRECT_URI=
OB_USER_INFO_URI=
OB_CLIENT_ID=
OB_CLIENT_SECRET=
OB_TOKEN_SECRET=

# AWS
AWS_S3_BUCKET=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=


# JPA
JPA_DDL_AUTO=
JPA_SQL_LOG_LEVEL=
JPA_STORAGE_ENGINE=
JPA_FORMAT_SQL=
JPA_SHOW_SQL=
JPA_USE_SQL_COMMENTS=