### =============== Database ===============
DB_URL=
DB_USERNAME=
DB_PASSWORD=

### =============== JPA 설정 ===============
JPA_DDL_AUTO=
JPA_SQL_LOG_LEVEL=
JPA_STORAGE_ENGINE=
JPA_FORMAT_SQL=
JPA_SHOW_SQL=
JPA_USE_SQL_COMMENTS=

### =============== JWT ===============
JWT_SECRET=
JWT_ACCESS_TOKEN_VALID=    # 밀리초 단위 (예: 3600000)
JWT_REFRESH_TOKEN_VALID=   # 밀리초 단위 (예: 604800000)

### =============== Spring Boot ===============
SPRING_OUTPUT_ANSI_ENABLED=


### =============== Logging (Spring Boot) ===============
LOGGING_LEVEL_ROOT=info               # 전체 로그 기본 레벨 (trace, debug, info, warn, error)
LOGGING_LEVEL_ORG_HIBERNATE_SQL=debug  # Hibernate SQL 로그 출력 레벨
LOGGING_PATTERN_CONSOLE=              # 콘솔 로그 포맷 커스터마이징 (원하는 경우만)
LOGGING_FILE_NAME=                    # 로그 파일 이름 (지정 안 하면 파일로 기록 안 함)
LOGGING_FILE_PATH=                    # 로그 저장 경로 (예: ./logs)
